:root {
  --bg-color: rgb(30, 32, 39);
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Source Sans Pro", "Segoe UI", Tahoma, Geneva, Verdana,
    sans-serif;
  background-color: var(--bg-color);
  color: #fff;
}

h1,
h2 {
  font-weight: 400;
}

p,
a {
  font-weight: 300;
}
